.chat-details-container {
    float: right;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}

.members-section {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}
 
.invite-friends {
    border-radius: 3px;
    background-color:powderblue;
    cursor: pointer;
    height: 30px;
    text-align: center;
    color:dimgrey;
}

.friends-select {
    width: 100%;
    border-color: #eee;
}

.friend-option {
    padding: 5px;
}

.minus-icon {
    background-color:rgb(223, 231, 240);
    padding: 5px;
}