.chat-details-container {
    float: right;
    display: flex;
    flex-direction: column;
    width: 30%;
}

.members-section, .info-section {
    display: flex;
    flex-direction: column;
    padding: 40px;
    padding-bottom: 0;
    margin-bottom: 10px;
}

.members-section {
    padding: 20px;
}

.info-button {
    cursor: pointer;
    text-align: center;
    padding: 8px;
    background-color: rgb(223, 231, 240);
}

.info-section {
    font-size: small;
    padding: 20px;
    margin-bottom: 0;;
    color: dimgray;
    background-color: rgb(241, 244, 247);
}

.info-section li {
    padding: 5px;
}
 
.invite-friends {
    border-radius: 3px;
    background-color:powderblue;
    cursor: pointer;
    height: 30px;
    text-align: center;
    color:dimgrey;
    margin-bottom: 60px;
}

.friends-select {
    width: 100%;
    border-color: #eee;
}

.friend-option {
    padding: 5px;
}

/* members */

.minus-icon, .user-icon, .lock-icon {
    padding: 5px;
}

.minus-icon {
    background-color:rgb(223, 231, 240);
}

.sender {
    background-color:rgb(255, 243, 177);
    border-radius: 50%;
    color: green;
}