.chat-title-container {
    position: fixed;
    top: 0px;
    display: block;
    width: 70%;
    padding-bottom: 80px;
    border-bottom: 1px;  
    font-size: 28px;
}

.chat-title {
    text-align: center;
}

.plus-icon {
    float: right;
}